<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mojadrużyna - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/views/shared/_Layout.css" asp-append-version="true"/>
</head>
<body>
    <div id="screen">
        <header>
            <nav id="upper-panel" class="emerald-green navbar-expand-sm">
                <img src="~/icons/layout/split-bar.png" style="position:absolute;width:2px;height:49px;left:256px;top:8px;" />
                <div style="position:absolute;right:0px;top:8px;">
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </header>
        <div id="center-section-container" class="muddy-white">
            @{
                if (TempData["isSidebarCollapsed"] == null)
                    TempData["isSidebarCollapsed"] = false;

                bool isCollapsed = (bool) TempData["isSidebarCollapsed"];
                TempData.Keep("isSidebarCollapsed");

                <input type="checkbox" id="is-sb-collapsed" checked=@isCollapsed />
            }
            <label id="hamburger" for="is-sb-collapsed">
                <img id="hamburger-icon" src="~/icons/navigation/nav-hamburger.svg" />
            </label>
            <div id="left-panel">
            </div>
            <div id="sidebar" class="clear-white">
                <div id="sidebar-header" class="clear-white">
                </div>
                <div id="sidebar-content" class="font-muddy-black medium-regular">
                    <div id="navigations">
                        <div id="sidebar-profile" class="muddy-white-2 pb-8px small-shadow">
                            <div id="sidebar-section-header" class="light-gray paragraph-regular small-shadow">
                                <img src="~/icons/main/person.svg" id="navigations-icon" />
                                <div id="sidebar-section-header-text">
                                    <a class="text-dark" asp-controller="profile" asp-action="personaldata">
                                        Profil
                                    </a>
                                </div>
                            </div>
                            <div id="navigations-item-first">
                                <a class="text-dark" asp-controller="profile" asp-action="personaldata">
                                    Dane
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                <a class="text-dark" asp-controller="profile" asp-action="ranks">
                                    Stopnie
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                <a class="text-dark" asp-controller="profile" asp-action="achievments">
                                    Osiągnięcia
                                </a>
                            </div>
                        </div>
                        <div id="sidebar-reports" class="muddy-white-2 pb-8px small-shadow">
                            <div id="sidebar-section-header" class="light-gray paragraph-regular small-shadow">
                                <img src="~/icons/main/sticky note.svg" id="navigations-icon" />
                                <div id="sidebar-section-header-text">
                                    <a class="text-dark" asp-controller="documentsgenerators" asp-action="orders">
                                        Raporty
                                    </a>
                                </div>
                            </div>
                            <div id="navigations-item-first">
                                <a class="text-dark" asp-controller="documentsgenerators" asp-action="orders">
                                    Rozkazy
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                <a class="text-dark" asp-controller="documentsgenerators" asp-action="events">
                                        Wydarzenia
                                </a>
                            </div>
                        </div>
                        <div id="sidebar-team" class="muddy-white-2 pb-8px small-shadow">
                            <div id="sidebar-section-header" class="light-gray paragraph-regular small-shadow">
                                <img src="~/icons/main/flag.svg" id="navigations-icon" />
                                <div id="sidebar-section-header-text">
                                    <a class="text-dark" asp-controller="team" asp-action="team">
                                        Drużyna
                                    </a>
                                </div>
                            </div>
                            <div id="navigations-item-first">
                                <a class="text-dark" asp-controller="team" asp-action="team">
                                    Harcerze
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                <a class="text-dark" asp-controller="team" asp-action="hosts">
                                    Zastępy
                                </a>
                            </div>
                        </div>
                        <div id="sidebar-ranking" class="muddy-white-2 pb-8px small-shadow">
                            <div id="sidebar-section-header" class="light-gray paragraph-regular small-shadow">
                                <img src="~/icons/main/cup.svg" id="navigations-icon" />
                                <div id="sidebar-section-header-text">
                                    <a class="text-dark" asp-controller="ranking" asp-action="scores">
                                        Ranking
                                    </a>
                                </div>
                            </div>
                            <div id="navigations-item-first">
                                <a class="text-dark" asp-controller="ranking" asp-action="scores">
                                    Punktacje
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="center-section-content-box">
                <main id="center-section-content" role="main" class="pb-3" style="">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<script>
    $(document).ready(function() {
        // update is-sb-collapsed on tab open
        $(document).focus(function() {
            withIsSidebarCollapsed(function(result) {
                document.getElementById("is-sb-collapsed").checked = result.value;
            });
        })

        // toggle sidebar on click
        $("#is-sb-collapsed").click(function() {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ToggleIsSidebarCollapsed", "Api")",
                dataType: "json",
                success: function () {
                    // success
                },
                error: function () {
                    alert("_Layout.cshtml toggle sidebar on click: raised an error");
                }
            });
        })

        function withIsSidebarCollapsed(toExecute) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetIsSidebarCollapsed", "Api")",
                dataType: "json",
                success: function(result) { 
                    toExecute(result); 
                },
                error: function(result) { 
                    alert("_Layout.cshtml onSidebarCollapsed(f): raised an error"); 
                }
            });
        };
    })
</script>