<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mojadrużyna - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/views/shared/_Layout.css" asp-append-version="true"/>
</head>
<body>
    <div id="screen">
        <header>
            <nav id="upper-panel" class="emerald-green navbar-expand-sm">
                <img src="~/icons/layout/split-bar.png" style="position:absolute;width:2px;height:49px;left:256px;top:8px;" />
                <div style="position:absolute;right:0px;top:8px;">
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </header>
        <div id="center-section-container" class="muddy-white">
            <input type="checkbox" id="is-sb-collapsed" />
            <label id="hamburger" for="is-sb-collapsed">
                <img id="hamburger-icon" src="~/icons/navigation/nav-hamburger.svg" />
            </label>
            <div id="left-panel">
            </div>
            <div id="sidebar" class="clear-white">
                <div id="sidebar-header" class="clear-white">
                </div>
                <div id="sidebar-content" class="font-muddy-black medium-regular">
                    <div id="navigations">
                        <div id="sidebar-profile" class="muddy-white-2">
                            <div id="sidebar-section-header" class="light-gray paragraph-regular">
                                <img src="~/icons/main/person.svg" id="navigations-icon" />
                                <div id="sidebar-section-header-text">
                                    <a class="text-dark" asp-controller="profile" asp-action="personaldata">
                                        Profil
                                    </a>
                                </div>
                            </div>
                            <div id="navigations-item-first">
                                <a class="text-dark" asp-controller="profile" asp-action="personaldata">
                                    Dane
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                <a class="text-dark" asp-controller="profile" asp-action="servicehistory">
                                    Historia służby
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                <a class="text-dark" asp-controller="profile" asp-action="ranks">
                                    Stopnie
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                <a class="text-dark" asp-controller="profile" asp-action="achievments">
                                    Osiągnięcia
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                <a class="text-dark" asp-controller="profile" asp-action="roles">
                                    Role
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                <a class="text-dark" asp-controller="profile" asp-action="coursesandpermissions">
                                    Kursy szkoleniowe i uprawnienia
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                <a class="text-dark" asp-controller="profile" asp-action="gdprconsents">
                                    Zgody RODO
                                </a>
                            </div>
                        </div>
                        <div id="sidebar-reports" class="muddy-white-2">
                            <div id="sidebar-section-header" class="light-gray paragraph-regular">
                                <img src="~/icons/main/sticky note.svg" id="navigations-icon" />
                                <div id="sidebar-section-header-text">
                                    Raporty
                                </div>
                            </div>
                            <div id="navigations-item-first">
                                1
                            </div>
                            <div id="navigations-item-next">
                                2
                            </div>
                            <div id="navigations-item-next">
                                3
                            </div>
                            <div id="navigations-item-next">
                                4
                            </div>
                        </div>
                        <div id="sidebar-team" class="muddy-white-2">
                            <div id="sidebar-section-header" class="light-gray paragraph-regular">
                                <img src="~/icons/main/flag.svg" id="navigations-icon" />
                                <div id="sidebar-section-header-text">
                                    <a class="text-dark" asp-controller="team" asp-action="team">
                                        Drużyna
                                    </a>
                                </div>
                            </div>
                            <div id="navigations-item-first">
                                <a class="text-dark" asp-controller="team" asp-action="team">
                                    Moja drużyna
                                </a>
                            </div>
                            <div id="navigations-item-next">
                                2
                            </div>
                            <div id="navigations-item-next">
                                3
                            </div>
                            <div id="navigations-item-next">
                                4
                            </div>
                        </div>
                        <div id="sidebar-ranking" class="muddy-white-2">
                            <div id="sidebar-section-header" class="light-gray paragraph-regular">
                                <img src="~/icons/main/cup.svg" id="navigations-icon" />
                                <div id="sidebar-section-header-text">
                                    Ranking
                                </div>
                            </div>
                            <div id="navigations-item-first">
                                Punktacje
                            </div>
                            <div id="navigations-item-next">
                                Zasady
                            </div>
                            <div id="navigations-item-next">
                                3
                            </div>
                            <div id="navigations-item-next">
                                4
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="center-section-content-box">
                <main id="center-section-content" role="main" class="pb-3" style="">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>