<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moja Drużyna - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/views/shared/_Layout.css" asp-append-version="true"/>
</head>
<body>
    <div class="screen">
        <header>
            <nav class="upper-panel navbar-expand-sm">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <partial name="_LoginPartial" />
                </div>
            </nav>
        </header>
        <div class="center-section-container">
            <input type="checkbox" id="is-sb-collapsed" />
            <label id="hamburger" for="is-sb-collapsed">
                <img id="hamburger-icon" src="~/icons/navigation.svg" />
            </label>
            <div class="left-panel">
            </div>
            <div class="sidebar">
                <div class="navigations">
                    <div id="sidebar-profile">
                        Profil
                    </div>
                    <div id="sidebar-reports">
                        Raporty
                    </div>
                    <div id="sidebar-team">
                        Drużyna
                    </div>
                    <div id="sidebar-ranking">
                        Ranking
                    </div>
                </div>
            </div>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>