<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Moja Drużyna - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/views/shared/_Layout.css" asp-append-version="true" />
</head>
<body style="display: flex; justify-content: center; background-color: #EBEBEB;">
    <div style="display: flex; justify-content: center; margin-top: 120px; max-width: 800px; width: 100vw; height: 620px; background-color: #F9F9F9;">
        <div style="margin: 80px; margin-top: 30px; margin-bottom: 25px; max-width: 700px; width: 100%;">
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
