<div style="display: flex;">
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("PersonalData", "Profile", new { area = "" })">
        <button type="submit" class="nav-link btn btn-link text-dark" style="font-weight:400">
            <img src="~/icons/managment/logout.svg" style="height:19px;margin-top:-4px;margin-right:-2px" />
            Wyloguj się
        </button>
    </form>
</div>
