@model moja_druzyna.ViewModels.Team.AddScoutViewModel

@{
    ViewData["Title"] = "dodawanie nowej osoby do drużyny";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/views/team/AddScout.css" asp-append-version="true" />
<div class="text-center justify-content-center display-flex" style="min-width:900px;height:85vh">
    <form method="post" class="size100p">
        <input id="team-id" value="@ViewBag.TeamId" disabled hidden />
        <div style="height:50px" class="text-left display-flex mt-16px">
            <div class="paragraph2-regular ml-8px font-weight-light">
                <a asp-action="team" class="font-muddy-black">
                    Harcerze
                </a>
            </div>
            <div class="paragraph2-regular ml-16px font-weight-light">
                <a asp-action="hosts" class="font-muddy-black">
                    Zastępy
                </a>
            </div>
        </div>

        <!-- BUTTONS - Add host, ... -->
        <div class="text-left">
            <button asp-action="team" formmethod="get" class="ml-8px mb-16px round-corners-5px no-border text-white large-light" style="background-color:gray">
                <img src="~/icons/navigation/nav-left.svg" class="icon-size-16 mb-4px" style="filter:brightness(1000%)" />
                Wróć
            </button>
        </div>

        <!-- MAIN PANEL -->
        <div class="display-flex size100p justify-content-around">
            <!-- LIST OF HOSTS IN THE TEAM -->
            <div style="height:100%;min-width:160px;width:99%" class="display-flex justify-content-center big-shadow">
                <div style="width:96%">
                    <div class="paragraph2-light mb-16px">
                        Dodawanie harcerza
                    </div>
                    @if (ViewBag.scoutWasAdded == true)
                    {
                        <div class="font-dark-green mb-8px paragraph-light" style="position:relative">
                            <span class="width100p text-center" style="position:absolute;left:0px;top:-6px">
                                <img src="~/icons/managment/check_circle.svg" class="icon-size-24 mb-4px" style="filter: invert(30%) sepia(11%) saturate(2579%) hue-rotate(70deg) brightness(100%) contrast(84%);" />
                                Osoba została pomyślnie dodana
                            </span>
                        </div>
                    }
                    @if (ViewBag.scoutAdditionFailed == true)
                    {
                        <div class="text-danger mb-8px paragraph-light" style="position:relative">
                            <span class="width100p text-center" style="position:absolute;left:0px;top:-6px">
                                <img src="~/icons/managment/cancel.svg" class="icon-size-24 mb-4px" style="filter: invert(47%) sepia(54%) saturate(701%) hue-rotate(314deg) brightness(86%) contrast(98%);" />
                                Dodawanie osoby nie powiodło się
                            </span>
                        </div>
                    }
                    <div class="display-flex p-8px" style="position:relative;z-index:1000">
                        <button type="submit" class="mb-16px round-corners-5px no-border text-white large-light" style="background-color:yellowgreen">
                            <img src="~/icons/managment/add.svg" class="icon-size-16 mb-4px" style="filter:brightness(1000%)" />
                            Dodaj harcerza
                        </button>
                    </div>
                    <div class="display-flex width100p p-4px pl-8px pr-8px justify-content-between">
                        <div class="form-group mr-8px" style="width:49%">
                            <label asp-for="Pesel" class="width100p text-left">PESEL*</label> <br />
                            <input asp-for="Pesel" class="width100p" /><br />
                            <div class="width100p" style="position:relative">
                                <span asp-validation-for="Pesel" class="text-danger" style="position:absolute;left:0px"></span>
                            </div>
                        </div>
                        <div class="form-group" style="width:49%">
                            <label asp-for="MembershipNumber" class="width100p text-left">Numer członkowski</label> <br />
                            <input asp-for="MembershipNumber" class="width100p" />
                        </div>
                    </div>
                    <div class="display-flex width100p p-4px pl-8px pr-8px justify-content-between">
                        <div class="form-group mr-8px" style="width:49%">
                            <label asp-for="Name" class="width100p text-left">Imię*</label> <br />
                            <input asp-for="Name" class="width100p" /><br />
                            <div class="width100p justify-content-center" style="position:relative">
                                <span asp-validation-for="Name" class="text-danger" style="position:absolute;left:0px"></span>
                            </div>
                        </div>
                        <div class="form-group" style="width:49%">
                            <label asp-for="Surname" class="width100p text-left">Nazwisko*</label> <br />
                            <input asp-for="Surname" class="width100p" /><br />
                            <div class="width100p justify-content-center" style="position:relative">
                                <span asp-validation-for="Surname" class="text-danger" style="position:absolute;left:0px"></span>
                            </div>
                        </div>
                    </div>
                    <div class="display-flex width100p p-4px pl-8px pr-8px justify-content-between">
                        <div class="form-group mr-8px" style="width:49%">
                            <label asp-for="SecondName" class="width100p text-left">Drugie imię</label> <br />
                            <input asp-for="SecondName" class="width100p" />
                        </div>
                        <div class="form-group" style="width:49%">
                            <label asp-for="Nationality" class="width100p text-left">Obywatelstwo</label> <br />
                            <input asp-for="Nationality" class="width100p" />
                        </div>
                    </div>
                    <div class="display-flex width100p p-4px pl-8px pr-8px justify-content-between">
                        <div class="form-group mr-8px" style="width:49%">
                            <label asp-for="DateOfEntry" class="width100p text-left">Data wstąpienia do ZHP</label> <br />
                            <input asp-for="DateOfEntry" class="width100p" />
                        </div>
                        <div class="form-group text-left float-left" style="width:49%">
                            <label asp-for="Ns" class="width100p mt-8px ">NS</label> <br />
                            <input asp-for="Ns" type="checkbox" class="checkbox-size" /> <br /><br />
                        </div>
                    </div>
                    <div class="display-flex size-fit-content pl-8px">
                        <label class="input-box-width text-left small-light">* - obowiązkowe</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

