@model moja_druzyna.ViewModels.Team.AddScoutViewModel

@{
    ViewData["Title"] = "dodawanie nowej osoby do drużyny";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/views/team/AddScout.css" asp-append-version="true" />
<div class="display-flex justify-content-center text-center width100p min-width-fit-content">
    <form asp-action="addscout" class="display-block">
        <div class="display-flex justify-content-center width100p mb-32px">
            <div class="mr-8px mt-4px">
                <img src="~/icons/main/green/flag.svg" class="icon-size-32 mt-1px" />
            </div>
            <div class="font-dark-green header1-light">
                Moja drużyna
            </div>
        </div>
        <div class="list-item-width medium-light font-muddy-black mb-32px">
            @ViewBag.TeamName <br />
        </div>
        <div class="clear-white big-shadow size-fit-content medium-light display-block">
            <div class="large-light mb-16px">
                dodawanie osoby
            </div>
            <div class="display-flex size-fit-content p-4px pl-8px pr-8px">
                <div class="form-group mr-8px">
                    <label asp-for="Pesel" class="input-box-width text-left">PESEL*</label> <br />
                    <input asp-for="Pesel" class="input-box-width" /><br />
                    <span asp-validation-for="Pesel" class="input-box-width text-left text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MembershipNumber" class="input-box-width text-left">numer członkowski</label> <br />
                    <input asp-for="MembershipNumber" class="input-box-width" />
                </div>
            </div>
            <div class="display-flex size-fit-content p-4px pl-8px pr-8px">
                <div class="form-group mr-8px">
                    <label asp-for="Name" class="input-box-width text-left">imię*</label> <br />
                    <input asp-for="Name" class="input-box-width" /><br />
                    <span asp-validation-for="Name" class="input-box-width text-left text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Surname" class="input-box-width text-left">nazwisko*</label> <br />
                    <input asp-for="Surname" class="input-box-width" /><br />
                    <span asp-validation-for="Surname" class="input-box-width text-left text-danger"></span>
                </div>
            </div>
            <div class="display-flex size-fit-content p-4px pl-8px pr-8px">
                <div class="form-group mr-8px">
                    <label asp-for="SecondName" class="input-box-width text-left">drugie imię</label> <br />
                    <input asp-for="SecondName" class="input-box-width" />
                </div>
                <div class="form-group">
                    <label asp-for="Nationality" class="input-box-width text-left">obywatelstwo</label> <br />
                    <input asp-for="Nationality" class="input-box-width" />
                </div>
            </div>
            <div class="display-flex size-fit-content p-4px pl-8px pr-8px">
                <div class="form-group mr-8px">
                    <label asp-for="DateOfEntry" class="input-box-width text-left">data wstąpienia do zhp</label> <br />
                    <input asp-for="DateOfEntry" class="input-box-width" />
                </div>
                <div class="form-group text-left float-left">
                    <label asp-for="Ns" class="input-box-width mt-8px ">NS</label> <br />
                    <input asp-for="Ns" type="checkbox" class="checkbox-size" /> <br /><br />
                </div>
            </div>
            @if (ViewBag.scoutWasAdded == true)
            {
                <div class="font-dark-green">
                    osoba została pomyślnie dodana
                </div>
            }
            <div class="display-flex size-fit-content pl-8px">
                <label class="input-box-width text-left small-light">* - obowiązkowe</label>
            </div>
            <div class="display-flex p-8px justify-content-center">
                <button type="submit" class="round-corners-5px font-dark-green border-dark-green button-padding mr-16px">dodaj</button>
                <button asp-action="team" formmethod="get" class="round-corners-5px font-danger-red border-danger-red button-padding">anuluj</button>
            </div>
        </div>
        <div style="height: 60px">
        </div>
    </form>
</div>