@using moja_druzyna.Const;
@model moja_druzyna.ViewModels.Team.HostsViewModel

@{
    ViewData["Title"] = "moje zastępy";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/views/team/Hosts.css" asp-append-version="true" />
<div class="text-center justify-content-center display-flex" style="min-width:900px;height:85vh">
    <form method="post" class="size100p">
        <input id="team-id" value="@ViewBag.TeamId" disabled hidden />
        <div style="height:50px" class="text-left display-flex mt-16px">
            <div class="paragraph2-regular ml-8px font-weight-light">
                <a asp-action="team" class="font-muddy-black">
                    Harcerze
                </a>
            </div>
            <div class="paragraph2-regular ml-16px font-weight-light" style="text-decoration:underline">
                Zastępy
            </div>
        </div>

        <!-- BUTTONS - Add host, ... -->
        <div class="text-left">
            <button asp-action="addhost" formmethod="get" class="ml-8px pr-8px mb-16px round-corners-5px no-border text-white large-light" style="background-color:yellowgreen">
                <img src="~/icons/managment/add.svg" class="icon-size-16 mb-4px" style="filter:brightness(1000%)" />
                Dodaj zastęp
            </button>
        </div>

        <!-- MAIN PANEL -->
        <div class="display-flex size100p justify-content-around">
            <!-- LIST OF HOSTS IN THE TEAM -->
            <div style="height:100%;min-width:160px;width:99%" class="display-flex justify-content-center big-shadow">
                <div style="width:96%">
                    @if (Model.HostsViewModel_Hosts.Count() > 0)
                    {
                        <div class="display-flex width100p text-left medium-bold mb-4px">
                            <div class="display-flex justify-content-between width100p ml-64px">
                                <span class="width-1a">zastęp</span>
                                <span class="width-1b">liczba harcerzy</span>
                                <span class="width-1c text-left">zastępowy</span>
                                <span class="width-1d mr-16px"></span>
                            </div>
                        </div>
                    }
                    @foreach (var host in Model.HostsViewModel_Hosts)
                    {
                        <div class="display-flex width100p clear-white small-shadow round-corners-12px large-light mb-4px">
                            <div class="mt-4px ml-8px">
                                <img id="profile-picture" src="~/icons/design/profile picture.svg" class="icon-size-40 mr-16px" />
                            </div>
                            <div class="display-flex justify-content-between width100p list-item-height text-left">
                                <div class="width-1a">
                                    <div class="mt-8px">@host.HostName</div>
                                </div>
                                <div class="display-flex width-1b justify-content-center">
                                    <div class="mt-8px">@host.NumberOfScouts</div>
                                </div>
                                <div class="width-1c">
                                    <div class="mt-8px">@host.HostCaptainLabel</div>
                                </div>
                                <div class="display-flex width-1d mt-8px mr-16px">
                                    @if (ViewBag.UserRole == "captain")
                                    {
                                        <button id="manage-icon" name="hostId" asp-controller="team" asp-action="host" value=@host.HostId class="no-border size-fit-content clear-white round-corners-5px">
                                            <img src="~/icons/managment/show.svg" class="icon-size-24" />
                                        </button>
                                        <button id="manage-icon" name="hostId" asp-controller="team" asp-action="deletehost" value=@host.HostId class="no-border size-fit-content clear-white round-corners-5px">
                                            <img src="~/icons/managment/delete.svg" class="icon-size-24" />
                                        </button>
                                    }
                                    else if (ViewBag.UserRoleInTheHost == "captain" || ViewBag.UserRole == "vice captain")
                                    {
                                        <button id="manage-icon" name="hostId" asp-controller="team" asp-action="host" value=@host.HostId class="no-border size-fit-content clear-white round-corners-5px">
                                            <img src="~/icons/managment/show.svg" class="icon-size-24" />
                                        </button>
                                        <button name="hostId" asp-controller="team" asp-action="deletehost" value=@host.HostId class="no-border size-fit-content clear-white round-corners-5px inactive" disabled>
                                            <img src="~/icons/managment/delete.svg" class="icon-size-24" />
                                        </button>
                                    }
                                    else
                                    {
                                        <div class="icon-size-24 mr-32px">
                                        </div>
                                        <button id="manage-icon" name="hostId" asp-controller="team" asp-action="host" value=@host.HostId class="no-border size-fit-content clear-white round-corners-5px">
                                            <img src="~/icons/managment/show.svg" class="icon-size-24" />
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.HostsViewModel_Hosts.Count == 0)
                    {
                        <div class="paragraph-light mt-64px">
                            Aktualnie nie ma żadnych zastępów
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>