@using moja_druzyna.Const;
@model moja_druzyna.ViewModels.Team.HostViewModel

@{
    ViewData["Title"] = "zastęp - " + ViewBag.HostName;
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/views/team/Host.css" asp-append-version="true" />
<div class="text-center justify-content-center display-flex" style="min-width:900px;height:85vh">
    <form method="post" class="size100p">
        <input id="team-id" value="@ViewBag.TeamId" disabled hidden />
        <div style="height:50px" class="text-left display-flex mt-16px">
            <div class="paragraph2-regular ml-8px font-weight-light">
                <a asp-action="team" class="font-muddy-black">
                    Harcerze
                </a>
            </div>
            <div class="paragraph2-regular ml-16px font-weight-light">
                <a asp-action="hosts" class="font-muddy-black">
                    Zastępy
                </a>
            </div>
        </div>

        <!-- BUTTONS - Add host, ... -->
        <div class="text-left">
            <button asp-action="hosts" formmethod="get" class="ml-8px pr-8px mb-16px round-corners-5px no-border text-white large-light" style="background-color:gray">
                <img src="~/icons/navigation/nav-left.svg" class="icon-size-16 mb-4px" style="filter:brightness(1000%)" />
                Wróć
            </button>
            <button name="hostId" value=@Model.HostId asp-action="addscouttohost" formmethod="get" class="ml-8px pr-8px mb-16px round-corners-5px no-border text-white large-light" style="background-color:yellowgreen">
                <img src="~/icons/managment/add.svg" class="icon-size-16 mb-4px" style="filter:brightness(1000%)" />
                Dodaj harcerza do zastępu
            </button>
        </div>

        <!-- MAIN PANEL -->
        <div class="display-flex size100p justify-content-around">
            <!-- LIST OF HOSTS IN THE TEAM -->
            <div style="height:100%;min-width:160px;width:99%" class="display-flex justify-content-center big-shadow">
                <div style="width:96%">
                    <div class="display-flex width100p text-left medium-bold mb-4px">
                        <div class="display-flex justify-content-between width100p ml-64px">
                            <span class="width-1a">godność</span>
                            <span class="width-1b text-center">stopień</span>
                            <span class="width-1c">zastępowy</span>
                            <span class="width-1d mr-16px"></span>
                        </div>
                    </div>
                    @foreach (var scout in Model.Scouts)
                    {
                        <div class="display-flex width100p clear-white small-shadow round-corners-12px large-light mb-4px list-item-height">
                            <div class="mt-4px ml-8px">
                                <img id="profile-picture" src="~/icons/design/profile picture.svg" class="icon-size-40 mr-16px" />
                            </div>
                            <div class="display-flex justify-content-between width100p text-left">
                                <div class="width-1a">
                                    <div class="mt-8px">@scout.Title </div>
                                </div>
                                <div class="width-1b mt-8px">
                                    <img src="@Url.Content(string.Format("~/icons/design/ranks/no-accents/rank-{0}.svg", scout.Rank))" alt="" class="rank-icon-size-1" />
                                </div>
                                <div class="width-1c mt-8px display-flex">
                                    @if (scout.IsHostCaptain)
                                    {
                                        <div class="display-flex ml-16px mt-4px">
                                            <img src="~/icons/main/green/flag.svg" class="icon-size-24 ml-4px" />
                                        </div>
                                    }
                                </div>
                                <div class="display-flex width-1d mt-8px mr-16px">
                                    @if (ViewBag.UserRoleInTheHost == "captain" || ViewBag.UserRole == "captain" || ViewBag.UserRole == "vice captain")
                                    {
                                        <button id="manage-icon" name="scoutId" asp-controller="team" asp-action="removescoutfromhost" value=@scout.IdentityId class="no-border size-fit-content clear-white round-corners-5px">
                                            <img src="~/icons/managment/remove.svg" class="icon-size-24" />
                                        </button>
                                    }
                                    else
                                    {
                                        <button name="scoutId" asp-controller="team" asp-action="removescoutfromhost" value=@scout.IdentityId class="no-border size-fit-content clear-white round-corners-5px inactive" disabled>
                                            <img src="~/icons/managment/remove.svg" class="icon-size-24" />
                                        </button>
                                    }

                                </div>
                            </div>
                        </div>
                    }
                    <div style="height: 60px">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>