@model ICollection<moja_druzyna.ViewModels.Team.RolesViewModel>

@{
    ViewData["Title"] = "role";
}

<div class="text-center" justify-content-center display-flex" style="min-width:650px">
    <h1 class="display-4">Role w mojej drużynie</h1>

    <div class="display-flex list-item-width text-left medium-bold mb-4px">
            <div class="display-flex justify-content-between width100p ml-64px">
                <span class="width-1a">godność</span>
                <span class="width-1d mr-16px"></span>
                <span class="width-1d mr-16px">rola</span>

            </div>
        </div>

    <div class="text-center justify-content-center" style="min-width:650px" align="center">
    @foreach (var roleVM in Model)
    {
     
        <div class="display-flex list-item-size clear-white small-shadow round-corners-12px large-light mb-4px">
                <div class="mt-4px ml-8px">
                    <img id="profile-picture" src="~/icons/design/profile picture.svg" class="icon-size-40 mr-16px" />
                </div>
                <div class="display-flex justify-content-between width100p text-left">
                    <div class="width-1a">
                        <div class="mt-8px">@roleVM.ScoutName</div>
                    </div>
                    <div class="width-1c mt-8px">
                        @roleVM.RoleName
                    </div>
                </div>
            </div>

    }
    </div>
    <div style="height: 60px">
        </div>

</div>
