@model ICollection<moja_druzyna.ViewModels.Team.TeamViewModel>

@{
    ViewData["Title"] = "moja drużyna";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/views/team/Team.css" asp-append-version="true" />
<div class="text-center justify-content-center display-flex" style="min-width:650px">
    <form>
        <div class="list-item-width display-flex justify-content-center mb-32px">
            <div class="mr-8px mt-4px">
                <img src="~/icons/main/green/flag.svg" class="icon-size-32 mt-1px" />
            </div>
            <div class="font-dark-green header1-light">
                Moja drużyna
            </div>
        </div>
        <div class="list-item-width medium-light font-muddy-black mb-32px">
            @ViewBag.TeamName
        </div>
        @if (ViewBag.UserRole == "captain")
        {
            <div class="display-flex justify-content-center">
                <div class="clear-white big-shadow size-fit-content medium-light display-block mb-32px">
                    <div class="large-light mb-8px">
                        zmień nazwę drużyny
                    </div>
                    <div class="display-flex size-fit-content p-4px pl-8px pr-8px">
                        <div class="form-group">
                            <label class="input-box-width text-left">nazwa drużyny</label> <br />
                            <input name="newName" class="input-box-width" /><br />
                        </div>
                    </div>
                    <div class="display-flex pb-8px pt-2px justify-content-center width-100p">
                        <button asp-action="teamchangename" class="round-corners-5px font-muddy-black button-padding">zmień</button>
                    </div>
                </div>
            </div>
        }
        <div class="list-item-width height-fit-content mb-16px">
            <button asp-controller="team" asp-action="addscout" class="medium-light p-8px pt-2px pb-2px no-border round-corners-5px">
                <img src="~/icons/managment/add.svg" style="width:18px;height:18px;margin-top:-2px" />
                dodaj nową osobę do drużyny
            </button>
        </div>
        <div class="display-flex list-item-width text-left medium-bold mb-4px">
            <div class="display-flex justify-content-between width100p ml-64px">
                <span class="width-1a">godność</span>
                <span class="width-1b text-center">stopień</span>
                <span class="width-1c">zastęp</span>
                <span class="width-1d mr-16px"></span>
            </div>
        </div>
        @foreach (var teamVM in Model)
        {
            <div class="display-flex list-item-size clear-white small-shadow round-corners-12px large-light mb-4px">
                <div class="mt-4px ml-8px">
                    <img id="profile-picture" src="~/icons/design/profile picture.svg" class="icon-size-40 mr-16px" />
                </div>
                <div class="display-flex justify-content-between width100p text-left">
                    <div class="width-1a">
                        <div class="mt-8px">@teamVM.Title</div>
                    </div>
                    <div class="width-1b mt-8px">
                        @if (teamVM.Rank == "1")
                        {
                            <img src="~/icons/design/ranks/no-accents/rank-1.svg" class="rank-icon-size-1" />
                        }
                        else if (teamVM.Rank == "2")
                        {
                            <img src="~/icons/design/ranks/no-accents/rank-2.svg" class="rank-icon-size-1" />
                        }
                        else if (teamVM.Rank == "3")
                        {
                            <img src="~/icons/design/ranks/no-accents/rank-3.svg" class="rank-icon-size-1" />
                        }
                        else if (teamVM.Rank == "4")
                        {
                            <img src="~/icons/design/ranks/no-accents/rank-4.svg" class="rank-icon-size-1" />
                        }
                        else if (teamVM.Rank == "5")
                        {
                            <img src="~/icons/design/ranks/no-accents/rank-5.svg" class="rank-icon-size-1" />
                        }
                        else if (teamVM.Rank == "6")
                        {
                            <img src="~/icons/design/ranks/no-accents/rank-6.svg" class="rank-icon-size-1" />
                        }
                    </div>
                    <div class="width-1c mt-8px">
                        @teamVM.Host
                    </div>
                    <div class="display-flex width-1d mt-8px mr-16px">
                        @if (ViewBag.UserRole == "captain")
                        {
                            <button id="manage-icon" name="scoutId" asp-controller="team" asp-action="editscout" value=@teamVM.Id class="no-border size-fit-content clear-white round-corners-5px">
                                <img src="~/icons/managment/edit.svg" class="icon-size-24" />
                            </button>
                            <button id="manage-icon" name="scoutId" asp-controller="team" asp-action="removescout" value=@teamVM.Id class="no-border size-fit-content clear-white round-corners-5px">
                                <img src="~/icons/managment/delete.svg" class="icon-size-24" />
                            </button>
                        }
                        else if (ViewBag.UserRole == "vice captain")
                        {
                            <button id="manage-icon" name="scoutId" asp-controller="team" asp-action="editscout" value=@teamVM.Id class="no-border size-fit-content clear-white round-corners-5px ">
                                <img src="~/icons/managment/edit.svg" class="icon-size-24" />
                            </button>
                            <button name="scoutId" asp-controller="team" asp-action="removescout" value=@teamVM.Id class="no-border size-fit-content clear-white round-corners-5px inactive" disabled>
                                <img src="~/icons/managment/delete.svg" class="icon-size-24" />
                            </button>
                        }
                        else
                        {
                            <button name="scoutId" asp-controller="team" asp-action="editscout" value=@teamVM.Id class="no-border size-fit-content clear-white round-corners-5px inactive" disabled>
                                <img src="~/icons/managment/edit.svg" class="icon-size-24" />
                            </button>
                            <button name="scoutId" asp-controller="team" asp-action="removescout" value=@teamVM.Id class="no-border size-fit-content clear-white round-corners-5px inactive" disabled>
                                <img src="~/icons/managment/delete.svg" class="icon-size-24" />
                            </button>
                        }
                    </div>
                </div>
            </div>
        }
        <div style="height: 60px">
        </div>
    </form>
</div>