@{
    Layout = null;
}

<!DOCTYPE html>

<center>
    <h1>
        magic happends here...
    </h1>
    <h4>
        pretty cosy, huh?
    </h4>
    <form>
        <button asp-controller="profile" asp-action="personaldata">
            take me away from here?
        </button><br /><br />
        <button asp-action="addtestdata">
            load test data set?
        </button><br /><br />
        <button id="0" asp-action="adddbatoms" name="role" value="scout">
            add achievements, ranks, please?
        </button><br /><br />
        <button id="1" asp-action="changemyrole" name="role" value="captain">
            make me a captain. please?
        </button><br /><br />
        <button id="2" asp-action="changemyrole" name="role" value="vice captain">
            make me a vice-captain, please?
        </button><br /><br />
        <button id="3" asp-action="changemyrole" name="role" value="scout">
            make me a normal scout, please?
        </button><br /><br />
    </form>
</center>