@model moja_druzyna.ViewModels.DocumentsGenerators.OrdersViewModel

@{
    ViewData["Title"] = "rozkazy";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/views/documents-generators/Orders.css" asp-append-version="true" />
<div class="text-center justify-content-center display-flex" style="min-width:650px">
    <form asp-action="orders">
        <div class="list-item-width display-flex justify-content-center mb-32px">
            <div class="mr-8px mt-2px">
                <img src="~/icons/main/green/flag.svg" class="icon-size-40" />
            </div>
            <div class="font-dark-green header1-light">
                Rozkazy
            </div>
        </div>
        <div class="list-item-width medium-light font-muddy-black mb-32px">
            @ViewBag.TeamName <br />
        </div>
        <div class="display-flex justify-content-center">
            <div class="clear-white big-shadow size-fit-content medium-light display-block mb-32px">
                <div class="large-light mb-16px">
                    dodaj rozkaz
                </div>
                <div class="display-flex size-fit-content p-4px pl-8px pr-8px">
                    <div class="form-group">
                        <label asp-for="AddedOrderName" class="input-box-width text-left">nazwa rozkazu</label> <br />
                        <input asp-for="AddedOrderName" class="input-box-width" /><br />
                        <span asp-validation-for="AddedOrderName" class="input-box-width text-left text-danger"></span>
                    </div>
                </div>
                <div class="display-flex p-8px justify-content-center width-100p">
                    <button type="submit" class="round-corners-5px font-muddy-black button-padding">
                        <a class="text-dark" asp-controller="documentsgenerators" asp-action="ordergenerator">
                            dodaj                      
                        </a>
                    </button>
                </div>
            </div>
        </div>
        <div class="display-flex list-item-width text-left medium-bold mb-4px">
            <div class="display-flex list-item-width justify-content-between ml-16px mr-8px">
                <span class="width-1a">nazwa rozkazu</span>
                <span class="width-1b">wydający</span>
                <span class="width-1c text-left">data wydania</span>
                <span class="width-1d"></span>
            </div>
        </div>
        @foreach (var order in Model.OrderViewModel_Orders)
        {
            <div class="display-flex list-item-size clear-white small-shadow round-corners-12px large-light mb-4px">
                <div class="display-flex justify-content-between width100p text-left">
                    <div class="width-1a ml-16px">
                        <div class="mt-8px">@order.Name</div>
                    </div>
                    <div class="width-1b">
                        <div class="mt-8px">@order.Creator</div>
                    </div>
                    <div class="width-1c">
                        <div class="mt-8px">@order.CreationDate.ToString("dd'.'MM'.'yyyy' 'HH':'mm")</div>
                    </div>
                    <div class="display-flex width-1d mt-8px mr-8px">
                        <button id="manage-icon" name="hostId" asp-controller="team" asp-action="host" value=b class="no-border size-fit-content clear-white round-corners-5px">
                            <img src="~/icons/managment/edit.svg" class="icon-size-24" />
                        </button>
                    </div>
                </div>
            </div>
        }
        <div style="height: 60px">
        </div>
    </form>
</div>