@model moja_druzyna.ViewModels.DocumentsGenerators.OtherViewModel

@{
    ViewData["Title"] = "rozkazy - inne";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/views/documents-generators/Orders.css" asp-append-version="true" />
<div class="text-center justify-content-center display-flex" style="min-width:650px">
    <form asp-action="other">
        <div class="display-flex justify-content-center mb-32px">
            <div class="mr-4px mt-4px">
                <img src="~/icons/main/green/sticky note.svg" class="icon-size-32 mt-1px" />
            </div>
            <div class="font-dark-green header1-light">
                @ViewBag.OrderName - inne
            </div>
        </div>
        <div class="width-100p medium-light font-muddy-black mb-32px">
            @ViewBag.TeamName <br />
        </div>
        <div class="display-flex justify-content-center">
            <div class="clear-white big-shadow size-fit-content medium-light display-block mb-32px pr-16px pl-16px">
                <div class="mb-8px">
                    inne
                </div>
                <div class="size-fit-content pl-16px pr-16px mb-16px">
                    <div class="justify-content-center text-center list-item-width">
                        <textarea asp-for="Other.Contents" class="width100p" style="height:480px"></textarea>
                    </div>
                </div>
                <div class="display-flex p-8px pb-2px justify-content-center height-fit-content">
                    <button type="submit" class="round-corners-5px button-padding font-dark-green border-dark-green mr-8px">zapisz</button>
                    <button asp-action="otherrevert" class="width-100p round-corners-5px button-padding font-danger-red border-danger-red">przywróć ostatni zapis</button>
                </div>
                <div class="display-flex p-8px justify-content-center height-fit-content mb-8px">
                    <button asp-action="ordergenerator" class="round-corners-5px button-padding no-border" style="width:216px">wróć do edytora rozkazu</button>
                </div>
            </div>
        </div>
        <div style="height: 60px">
        </div>
    </form>
</div>