@model moja_druzyna.ViewModels.DocumentsGenerators.ReprimendsAndPraisesViewModel

@{
    ViewData["Title"] = "rozkazy - pochwały, wyróżnienia, nagany";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/views/documents-generators/Orders.css" asp-append-version="true" />
<div class="text-center justify-content-center display-flex" style="min-width:900px;height:85vh">
    <form method="post" class="size100p">
        <div style="height:50px" class="text-left display-flex mt-16px position-relative">
            <div class="position-absolute width100p text-center paragraph2-light font-weight-normal">
                @ViewBag.TeamName
            </div>
        </div>

        <!-- BUTTONS - Add host, ... -->
        <div class="text-left">
            <button asp-action="ordergenerator" formmethod="post" class="ml-8px mb-16px round-corners-5px no-border text-white large-light" style="background-color:gray">
                <img src="~/icons/navigation/nav-left.svg" class="icon-size-16 mb-4px" style="filter:brightness(1000%)" />
                Wróć
            </button>
        </div>

        <!-- MAIN PANEL -->
        <div class="display-flex size100p justify-content-around">
            <div style="min-height:100%;min-width:160px;width:99%" class="height-fit-content display-flex justify-content-center big-shadow">
                <div style="width:96%">
                    <div class="paragraph2-light mb-16px">
                        pochwały, wyróżnienia, nagany
                    </div>
                    <div class="display-flex p-8px pb-0 text-left justify-content-start" style="position:relative;z-index:1000">
                        <div class="form-group size-fit-content">
                            <label class="width100p text-left" style="max-width:260px">harcerze</label> <br />
                            <select asp-for="AddedScoutId" class="input-box-width" asp-items="@ViewBag.DropDownList_Scouts"></select>
                        </div>
                        <div class="height100p ml-16px">
                            @if (ViewBag.AreThereScoutsToAdd)
                            {
                                <button asp-action="reprimendsandpraisesadd" class="mt-32px round-corners-5px no-border text-white large-light" style="background-color:yellowgreen;width:200px">
                                    <img src="~/icons/managment/add.svg" class="icon-size-16 mb-4px" style="filter:brightness(1000%)" />
                                    Dodaj wpis dla harcerza
                                </button>
                            }
                            else
                            {
                                <button asp-action="reprimendsandpraisesadd" class="mt-32px round-corners-5px no-border text-white large-light" style="background-color:gray;width:270px" disabled>
                                    <img src="~/icons/managment/cancel.svg" class="icon-size-16 mb-4px" style="filter:brightness(1000%)" />
                                    Nie ma więcej harcerzy do dodania
                                </button>
                            }
                        </div>
                        <div class="height100p ml-16px">
                            <button type="submit" class="mt-32px round-corners-5px no-border text-white large-light" style="background-color:yellowgreen;width:130px">
                                <img src="~/icons/managment/check_circle.svg" class="icon-size-16 mb-4px" style="filter:brightness(1000%)" />
                                Zapisz zmiany
                            </button>
                        </div>
                    </div>
                    @for (int i = Model.ReprimendsAndPraises.Count() - 1; i >= 0; i--)
                    {
                        <div class="muddy-white-2 small-shadow medium-light display-block mb-16px pr-16px pl-16px width100p">
                            <div class="justify-content-center text-left width100p">
                                <div class="display-flex">
                                    <div class="large-light mb-8px mt-8px min-width-fit-content">
                                        @string.Format("{0} {1}", Model.ReprimendsAndPraises[i].ScoutName, Model.ReprimendsAndPraises[i].ScoutSurname)
                                    </div>
                                    <div class="width100p height-fit-content mt-4px" style="margin-right:-8px">
                                        <div class="float-right mt-2px">
                                            <button asp-action="reprimendsandpraisesremove" name="position" value=@i class="no-border muddy-white-2 round-corners-5px">
                                                <img src="~/icons/managment/remove.svg" class="icon-size-24" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="display-flex justify-content-between">
                                    <input asp-for=@Model.ReprimendsAndPraises[i].ScoutId class="input-box-width" hidden />
                                    <input asp-for=@Model.ReprimendsAndPraises[i].ScoutPesel class="input-box-width" hidden />
                                    <input asp-for=@Model.ReprimendsAndPraises[i].ScoutName class="input-box-width" hidden />
                                    <input asp-for=@Model.ReprimendsAndPraises[i].ScoutSurname class="input-box-width" hidden />
                                    <div class="form-group">
                                        <label class="list-item-width text-left">rodzaj</label> <br />
                                        <select asp-for=@Model.ReprimendsAndPraises[i].Type class="list-item-width" asp-items=@ViewBag.DropDownList_Types></select>
                                    </div>
                                </div>
                                <div class="display-flex justify-content-between">
                                    <div class="form-group">
                                        <label class="list-item-width text-left">uzasadnienie</label> <br />
                                        <textarea asp-for=@Model.ReprimendsAndPraises[i].Explanation class="list-item-width"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div style="height:60px">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts
    {
    <script>
        $(document).keypress(function(e) {
            var keyCode = (window.event) ? e.which : e.keyCode;
            if (keyCode && keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });
    </script>
}