#header-box {
    height: 240px;
    min-width: 700px;
}

#header-box-inside {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}

#header-box-inside-data {
    display: flex;
    min-width: 720px;
    max-width: 920px;
    width: calc(36vw + 320px);
}

#profile-picture {
    position: sticky;
    width: 200px;
    height: 200px;
    margin-top: 4px;
}

#team-name {
    z-index: 100;
    margin-top: 75px;
    margin-left: calc(5vw - 15px);
    min-width: 400px;
    max-width: 600px;
    width: 40vw;
}

#data-box-1 {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -26px;
    width: inherit;
    min-width: 640px;
    height: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

#data-box-2 {
    display: flex;
    justify-content: space-evenly;
    width: inherit;
    min-width: 640px;
    height: 100%;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

#labels {
    display: flex;
    text-align: left;
    min-width: 200px;
    width: 18vw;
    max-width: 300px;
}

#data {
    display: flex;
    text-align: left;
    width: 160px;
}

#data-box-1a {
    display: flex;
    z-index: 100;
    min-width: 320px;
}

#data-box-1b {
    display: flex;
    z-index: 100;
    min-width: 320px;
}

#data-box-2a {
    display: flex;
    z-index: 100;
    min-width: 320px;
}

#data-box-2b {
    display: flex;
    z-index: 100;
    min-width: 320px;
}