@{
    ViewData["Title"] = "Kursy szkoleniowe i uprawnienia";
}

<div class="text-center">
    <h1 class="display-4">Moje kursy szkoleniowe i uprawnienia</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
