#manage-icon:not(:hover) {
    filter: opacity(60%)
}

.input-box-width {
    min-width: 312px;
    width: calc(312px);
}

.width-1a {
    width: 320px;
}

.width-1b {
    width: 94px;
}

.width-1c {
    width: 200px;
}

.width-1d {
    width: 48px;
}