#manage-icon:not(:hover) {
    filter: opacity(40%)
}

.highlightOnHover:not(:hover) {
    filter: opacity(50%);
}

.highlightOnHover:hover {
    filter: opacity(80%);
    text-decoration: underline;
}

.width-1a {
    width: 30%;
    
}

.width-1b {
    width: 60px;
}

.width-1c {
    width: 30%;
    
}

.width-1d {
    width: 92px;
}

.width-2a {
    width: 40%;
}